<p>header works!</p>
<div class="topnav">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</div>

<!-- 
<h2>
  Name person : {{personDetails[2].name }}
</h2>
<p>
  Adresss: {{ personDetails[2].address }}
  <span>Age Limit: {{ personDetails[2]['age limit'] }} </span>
</p> -->
<!--<yuj-profile [personName]="'Jyoti Deshmukh'"></yuj-profile>
<yuj-profile [personName]="'Bhavyansh Deshmukh'"></yuj-profile>
<yuj-profile [personName]="'Priya Deshmukh'"></yuj-profile>
<yuj-profile [personName]="'Tanvi Deshmukh'"></yuj-profile>-->
