<section class="">
  <div class="container">
    <div class="row">
      <h1>Home</h1>
    </div>
  </div>
</section>
<section class="category section pt-3 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-1.jpg" alt="" class="img-fluid" />
          <div class="item-info">
            <p class="mb-0">Stylish Leather watch</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>
            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item mb-4 mb-lg-0">
          <img src="assets/images/cat-2.jpg" alt="" class="img-fluid" />
          <div class="item-info">
            <p class="mb-0">Ladies hand bag</p>
            <h4 class="mb-4">up to <strong>40% </strong>off</h4>
            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-6">
        <div class="cat-item">
          <img src="assets/images/cat-3.jpg" alt="" class="img-fluid" />
          <div class="item-info">
            <p class="mb-0">Trendy shoe</p>
            <h4 class="mb-4">up to <strong>50% </strong>off</h4>
            <a href="#" class="read-more">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-ion-android-bicycle"></i>
          <div class="content">
            <h5>Free Shipping</h5>
            <p>On all order over $39.00</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-wallet"></i>
          <div class="content">
            <h5>30 Days Return</h5>
            <p>Money back Guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-key"></i>
          <div class="content">
            <h5>Secure Checkout</h5>
            <p>100% Protected by paypal</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6">
        <div class="feature-block">
          <i class="tf-clock"></i>
          <div class="content">
            <h5>24/7 Support</h5>
            <p>All time customer support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="title text-center">
          <h2>New arrivals</h2>
          <p>The best Online sales to shop these weekend</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        *ngFor="let product of homeproductProfiles"
        class="product-list col-3"
      >
        <div class="col mb-5">
          <div class="product-image">
            <img width="300" height="250" src="{{ product.image }}" />
          </div>
          <h3 class="Ptitle">{{ product.title }}</h3>
          <h3 class="Pprice">
            <strong>Price: {{ product.price | currency: "USD" }}</strong>
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
